<!DOCTYPE html>
<html lang="sv" data-theme="<%= theme %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboration 1</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul class="nav-list">
          <li><a href="/" data-page="index">Startsida/Dina kurser</a></li>
          <li><a href="/form" data-page="form">Lägg till kurs</a></li>
          <li><a href="/about" data-page="about" class="active-page">Om webbplatsen</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="main-content">
      <h1>Om webbplatsen</h1>
      <div class="about-content">
        <section>
          <h2>Syfte</h2>
          <p>
            Webbplatsens syfte är för en användare att kunna lagra sina kurser i en databas och snabbt få en överblick över de lagrade kurserna. Det ska gå att lägga till och radera kurser från databasen på webbplatsen utan bekymmer över säkerhet eller lagring av felaktig data. 
          </p>
        </section>
        <section>
          <h2>Databas</h2>
          <p>
            Databasen som används av denna webbplats är PostgresSQL. PostgresSQL är "open-source" och helt gratis för en laboration i denna skala. Som namnet antyder så använder PostgresSQL SQL som språk men den har även stöd för exempelvis JSON med mera.
          </p>
        </section>
        <section>
          <h2>Slutsatser</h2>
          <p>
            Mina slutsatser för laborationen är hur mycket säkrare och mer användbart det är att lagra data i en databas istället för local storage som använts i tidigare laborationer och kurser. I denna laboration användes endast en tabell så lagringen blir ända ganska likt local storage men kan tänka mig att ju mer data man har att lagra desto mer kommer man märka av skillnaden. Ett annat stort plus är att utvecklaren hanterar den lagrade datan jämfört med local storage där användaren hanterar all sin data som endast är tillgängligt i den webbläsaren man använder för tillfället.
          </p>
          <p>
            Utöver detta kan jag nämna hur smidigt EJS har varit för kodantet. Ibland behöver man hålla koll på så många olika flikar samtidigt så det var ett stort plus med EJS att man kunde skriva sin JavaScript kod direkt bland HTML koden. Exempelvis en forEach loop för att skriva ut flera containrar.
          </p>
        </section>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <ul>
        <li>Ludvig Rosenqvist</li>
        <li>2026</li>
        <li>Laboration 1</li>
        <li>
          <button type="button" class="theme-button" id="theme-button"></button>
        </li>
      </ul>
    </div>
  </footer>

  <script src="/dist/main.js"></script>
</body>
</html>