<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboration 1</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul class="nav-list">
          <li><a href="/" data-page="index">Startsida/Dina kurser</a></li>
          <li><a href="/form" data-page="form">Lägg till kurs</a></li>
          <li><a href="/about" data-page="about" class="active-page">Om webbplatsen</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="main-content">
      <h1>Om webbplatsen</h1>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <ul>
        <li>Ludvig Rosenqvist</li>
        <li>2026</li>
        <li>Laboration 1</li>
      </ul>
    </div>
  </footer>

  <script src="/dist/main.js"></script>
</body>
</html>